---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Studentský Velehrad">
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
  <!-- <Welcome /> -->
</Layout>
