<div
  class="bg-[url(/img/cover_crop.webp)] bg-center bg-cover w-screen min-h-[100vh] flex flex-col items-center justify-between"
>
  <div></div>
  <div class="flex flex-col w-[90vw] max-w-[800px] justify-center items-center">
    <h1
      class="text-5xl md:text-6xl font-bold mb-6 text-center text-[#fabb13] [text-shadow:_0px_0px_20px_rgba(250,187,19,1)]"
    >
      Studentský<br />Velehrad 2026
    </h1>
    <p
      class="text-lg md:text-2xl text-center uppercased text-[#fabb13] max-w-[500px]"
    >
      Celostátní setkání věřících vysokoškoláků a&nbsp;mladých pracujících
    </p>
    <p
      class="text-2xl md:text-4xl font-bold mt-16 mb-8 text-center text-[#fabb13]"
    >
      30. 4. - 3. 5. 2026
    </p>
    <p class="text-lg text-[#fabb13]">více info brzy</p>
  </div>
  <div class="flex flex-col w-[90vw] max-w-[800px] items-center">
    <p class="my-1 text-sm text-[#fabb13] mb-2">
      Minulé ročníky:
      <a
        href="https://2024.studentskyvelehrad.cz/"
        target="_blank"
        class="underline">Studentský Velehrad 2024</a
      >
    </p>
    <div
      class="flex flex-col sm:flex-row-reverse items-center justify-center sm:justify-between sm:w-[90vw] max-w-[800px] my-4 text-[#fabb13] text-sm"
    >
      <ul class="flex flex-row justify-around w-36 mb-2">
        <a href="" target="_blank" rel="noreferrer noopener">
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#fabb13"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
              ></path></svg
            >
          </li>
        </a>
        <a href="" target="_blank" rel="noreferrer noopener"
          ><li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#fabb13"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
              ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
                d="M16.5 7.5v.01"></path></svg
            >
          </li></a
        >
        <a href="" target="_blank" rel="noreferrer noopener"
          ><li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#fabb13"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-youtube"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
              ></path><path d="M10 9l5 3l-5 3z"></path></svg
            >
          </li></a
        >
      </ul>
      <a href="mailto:studentskyvelehrad@vkhcr.org" target="_blank" class="my-1"
        >studentskyvelehrad@vkhcr.org</a
      >
    </div>
  </div>
</div>
